// ========================================================

// Colors
//
// These are all the global colors
//
//
// Styleguide 0-Settings.Colors

// ========================================================

// Main palette
//
// Main palette
//
// $color-text - #FFFFFF, Default text color
// $color-primary - #000000, Primary color
// $color-secondary - #FFDD00, Secondary color
// $color-tertiary - #FFFFFF, Tertiary color
//
// Styleguide 0-Settings.Colors.Main

$color-text: #fff;
$color-primary: #000000;
$color-secondary: #FFDD00;
$color-tertiary: #FFFFFF;

// ========================================================

// Form palette
//
// Form palette
//
// $color-input - #EAEAEA, Text color
// $color-input-focus - #CCC, Focus color
// $color-error - #C00, Error color
//
// Styleguide 0-Settings.Colors.Form

$color-input: #EAEAEA;
$color-input-focus: #CCC;
$color-error: #C00;

// ========================================================

// Social palette
//
// Social palette
//
// $social-facebook - #3B5998, color
// $social-linkedin - #0077B5, color
// $social-twitter - #55ACEE, color
//
// Styleguide 0-Settings.Colors.Social

$social-facebook: #3B5998;
$social-linkedin: #0077B5;
$social-twitter: #55ACEE;

// ========================================================

// Constants palette
//
// Constants palette
//
// $color-border - #CCC, color
//
// Styleguide 0-Settings.Colors.Constants

$color-border: #CCC;

// ========================================================
