<main>
	<section>
		{{> hero }}
		<p>Lorem HOME dolor sit amet, consectetur adipisicing elit. Accusamus amet, architecto commodi dolorum et, eum eveniet, facilis harum hic ipsa itaque mollitia nostrum quasi quis temporibus tenetur veniam voluptate. Quia!</p>
		{{> footer }}
	</section>
</main>
